<header class="app-header">
  <div class="header-container">
    <a href="/" class="logo">Listen<span>MK</span></a>
    <nav class="nav-links" aria-label="Primary">
      <a href="/" class="{{ 'active' if active_page == 'home' else '' }}"
        >Discover</a
      >
      <a href="/about" class="{{ 'active' if active_page == 'about' else '' }}"
        >About</a
      >
      <a
        href="/favorites"
        class="{{ 'active' if active_page == 'favorites' else '' }}"
        >Favorites</a
      >
    </nav>

    <div class="auth-links">
      {% if 'user_id' in session %}
      <p class="user-info">{{session.name}}</p>
      {% else %}
      <a href="/login" class="{{ 'active' if active_page == 'login' else '' }}"
        >Login</a
      >
      <a
        href="/signup"
        class="{{ 'active' if active_page == 'signup' else '' }}"
        >Sign Up</a
      >
      {% endif %}
  </div>
</header>
