<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Login</title>
    <link rel="stylesheet" href="/static/css/style.css" />
    <link rel="stylesheet" href="/static/css/animations.css" />
  </head>
  <body>
    {% set form_action = 'login_auth' %} {% if request.path == '/admin/login' %}
    {% set form_action = 'admin_login_auth' %} is admin {% endif %}
    <main class="login flex-center flex-column">
      <div class="login-container">
        <h2>Login</h2>
        {% with messages = get_flashed_messages() %} {% if messages %}
        <ul>
          {% for message in messages %}
          <li>{{ message }}</li>
          {% endfor %}
        </ul>
        <br />
        {% endif %} {% endwith %} {% with messages = get_flashed_messages() %}
        {% if messages %} {% endif %} {% endwith %}
        <form
          method="post"
          action="{{ url_for(form_action) }}"
          class="flex-center flex-column"
        >
          <label for="email">Email:</label>
          <input type="email" name="email" required />

          <label for="password">Password:</label>
          <input type="password" name="password" required />
          <button type="submit">Login</button>
        </form>
      </div>
    </main>
  </body>
</html>
